<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320033115359-8t9t6ltati6i3tjibjbhg94itkjai6bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320033115359-8t9t6ltati6i3tjibjbhg94itkjai6bd</string>
	<key>API_KEY</key>
	<string>AIzaSyCvbuxiTwtbsJVx2M37HWsV8ODb13ps0P4</string>
	<key>GCM_SENDER_ID</key>
	<string>320033115359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hidush.hidush</string>
	<key>PROJECT_ID</key>
	<string>hidush-1337</string>
	<key>STORAGE_BUCKET</key>
	<string>hidush-1337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320033115359:ios:1e8693409c4dc75cd96d6a</string>
</dict>
</plist>